@import 'abstracts/variables';

.theme-selector {
  display: flex;
  background: transparent;

  &--desktop {
    flex-direction: column;
    position: absolute;
    top: 150%;
    right: 0;

    > .circle-button {
      margin: 0 0 $sm-2 0;
    }
  }
}

.circle-button {
  height: $md-2;
  width: $md-2;
  margin: 0 $sm-1;
  border-radius: 50%;
  transition: color 100ms ease-in, background 100ms ease-in;
  cursor: pointer;

  &--light {
    background: $grey-100;
    border: 2px solid $grey-500;

    .theme-selector--desktop > &:hover {
      background: $grey-200;
    }
  }

  &--dark {
    background: $grey-800;
    border: 2px solid $grey-600;

    .theme-selector--desktop > &:hover {
      background: $grey-900;
    }
  }

  &--solarized {
    background: $solarized-base3;
    border: 2px solid $solarized-base1;

    .theme-selector--desktop > &:hover {
      background: $solarized-base2;
    }
  }
}

:not(.theme-selector--desktop) > .circle-button {
  outline: none;
}