/* ========================================================
   Site Footer
   ======================================================== */

.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 150px;
  border-top: 1px solid #999;
  text-align: center;

  @include for-phone-only() {
    height: 175px;
  }
}

.footer-item {
  margin-right: 25px;
  margin-left: 25px;
  
  .image {
    height: 45px;
    margin-right: 10px;
    vertical-align: middle;
  }

  > .link {
    font-size: 24px;
    transition: opacity 400ms ease;
    transform: translateY(50%); 

    &:hover {
      opacity: .6;
    }
  }
}

.copyright {
  position: absolute;
  bottom: 5px;
}

.github {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 14px;
  transition: color 300ms ease;
  
  &:hover {
    color: #666;
  }

  @include for-phone-only() {
    display: none;
  }
}