@import 'abstracts/mixins';
@import 'abstracts/variables';

@keyframes fade-in-bottom {
  from {
    transform: translateY(50px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  from {
    transform: translateX(-50px);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $md-4;
  padding: 0 $sm-2;
  background: var(--bg-nav);
  border-bottom: 2px solid var(--subtle);
  font-family: 'Quicksand';
  font-size: $text-2xl;

  @include for-tablet-portrait-up() {
    padding: 0 $sm-4 0 $md-2;
  }

  &__header {
    color: var(--header);

    @include for-tablet-portrait-up() {
      font-size: $text-4xl;
    }

    &--fade {
      @include for-tablet-landscape-up() {
        opacity: 0;
        animation: fade-in-bottom 2s;
        animation-fill-mode: forwards;
        animation-delay: 200ms;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__links--fade {
    @include for-tablet-landscape-up() {
      opacity: 0;
      animation: fade-in-left 2s;
      animation-fill-mode: forwards;
      animation-delay: 1s;
    }
  }

  &__link {
    display: none;
    position: relative;
    padding: 0 $sm-2;
    height: $md-4;
    color: var(--nav-link);

    @include for-tablet-landscape-up() {
      display: inline-flex;
      align-items: center;
      margin-left: $sm-4;
      font-size: $text-xl;
    }

    @include for-small-desktop-up() {
      margin-left: $md-1;
      font-size: $text-2xl;
    }

    &:hover, &:focus {
      color: var(--nav-link-hover);
    }

    &--selected {
      color: var(--nav-link-hover);

      &::after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: var(--opposite);
      }
    }
  }

  &__menu-button {
    height: $md-4;
    padding: $sm-3;

    @include for-tablet-landscape-up() {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.dropdown-wrapper {
  display: none;
  position: relative;
  margin-left: $sm-3;

  @include for-tablet-landscape-up() {
    display: inline;
  }

  &__button {
    height: $md-2;
    width: $md-2;
    background: linear-gradient(45deg, $pink-400 0%, $blue-400 100%);
    border: 2px solid $grey-400;
    border-radius: 50%;
    transition: color 100ms ease-in, background 100ms ease-in;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }
  }

  .dropdown {
    display: none;
  }

  &:focus-within .dropdown {
    display: block;
  }
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: white;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $sm-3 $md-1;
    float: right;
    color: $grey-600;
    font-size: $text-4xl;
    font-weight: bold;

    &:hover {
      color: $grey-700;
      cursor: pointer;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__link {
    padding: 0 $sm-2;
    margin: $sm-2 0;
    color: $grey-800;
    font-size: $text-3xl;

    &--selected {
      background: $pink-200;
    }
  }
}