/* ========================================================
   Body
   ======================================================== */

/**
 * Tablet landscapes and up will get a full vector scene, while
 * below that breakpoint only "Josh" will be displayed.
 */
.home {
  background-image: url("../images/josh.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 70%;
  
  @include for-tablet-landscape-up() {
    background-image: url("../images/background.svg");
    background-size: cover;
  }
}

/* ========================================================
   Mobile Navigation
   ======================================================== */

/**
 * Position all content horizontally in the middle of the screen.
 */
.home-container {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
}

/**
 * Home page specific mobile navigation that positions the links
 * within the middle of the canvas.
 *
 * 1. Variable font size that mostly stays within the proper confines.
 * 2. A little more margin can be added since the font is small enough.
 */
.home-mobile-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include for-tablet-landscape-up() {
    display: none;
  }

  > .nav-link {
    display: block;
    font-size: 6vw; // 1

    @include for-phone-only() {
      margin-bottom: 5px; // 2
    }
  }
}

/* ========================================================
   Social links
   ======================================================== */

/**
 * Social links that will not be displayed unless the screen
 * size is large enough.
 *
 * 1. Closest to best position on canvas.
 * 2. Closest to best position on canvas.
 */
.home-social-links-wrapper {
  display: none;

  @include for-tablet-landscape-up() {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 57%; // 1
    left: 46.5%; // 2
  }
}

/**
 * Div containing the social media logo and link.
 *
 * 1. Dynamic sizing for svg.
 * 2. Dynamic sizing for font.
 */
.home-social-link-item {
  margin-bottom: 30px;

  .image {
    width: 5vh; // 1
    margin-right: 10px;
    vertical-align: middle;
  }

  > .link {
    font-size: 1.2vw; // 2
    transition: opacity 400ms ease;

    &:hover {
      opacity: .6;
    }
  } 
}