@import 'abstracts/mixins';
@import 'abstracts/variables';

.home {
  height: 100vh;
  background-image: url("../../../../assets/images/josh.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 70%;

  @include for-tablet-landscape-up() {
    background-image: url("../../../../assets/images/background.svg");
    background-size: cover;
  }

  &--dark {
    background-image: url("../../../../assets/images/josh-dark.svg");

    @include for-tablet-landscape-up() {
      background-image: url("../../../../assets/images/background-dark.svg");
    }
  }

  &--solarized {
    background-image: url("../../../../assets/images/josh-solarized.svg");

    @include for-tablet-landscape-up() {
      background-image: url("../../../../assets/images/background-solarized.svg");
    }
  }
}

.social-wrapper {
  display: none;

  @include for-tablet-landscape-up() {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 57%;
    left: 46.5%;
  }

  &__item {
    margin-bottom: $md-2;
  }

  &__link {
    display: flex;
    align-items: center;
    color: var(--nav-link);
    font-size: 1.2vw;
    transition: opacity 400ms ease;

    &:hover, &:focus {
      opacity: 0.6;
    }
  }

  &__image {
    width: 5vh;
    margin-right: $sm-3;
  }
}

.mobile-navigation {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);

  &__list {
    display: flex;
    flex-direction: column;

    @include for-tablet-landscape-up() {
      display: none;
    }
  }

  &__link {
    color: var(--nav-link);
    font-size: 6vw;

    @include for-phone-only() {
      margin-bottom: $sm-1;
    }
  }
}