<nav class="main-nav">
  <div class="nav-header">
    <h1>
      <a href="index.html"><span>Joshua </span>Zinkovsky</a>
    </h1>
  </div>
  <div class="nav-section">
    <a class="nav-link" href="index.html">Home</a>
    <a class="nav-link" href="projects.html">Projects</a>
    <a class="nav-link" href="design.html">Design</a>
    <a class="nav-link selected" href="about.html">About</a>
    <a class="nav-link" href="contact.html">Contact</a>
    <img id="menu-btn" class="menu-btn" src="assets/images/menu.svg" alt="Menu">
  </div>
</nav>
<div id="mobile-menu" class="mobile-menu">
  <span class="close">&times;</span>
  <div class="nav-list">
    <a class="link" href="index.html">Home</a>
    <a class="link" href="projects.html">Projects</a>
    <a class="link" href="design.html">Design</a>
    <a class="link -selected" href="about.html">About</a>
    <a class="link" href="contact.html">Contact</a>
  </div>
</div>

<main>
  <div class="container">
    <div class="about-item">
      <h2 class="header">About Me</h2>
      <p class="info">
        Hi, my name is Josh and I'm currently in my last semester at The University of Pittsburgh.
        I'm pursuing a degree in Computer Science with a certificate in Russian and East European Studies.
        I have a passion for all aspects of programming and CS in general. I'm currently doing full stack
        web development and learning more each and every day. I enjoy both the front and back end of
        web development, but also really enjoy coding a hashing algorithm, writing testable / well written
        code, and employing the best practices of object oriented design. On the side, I like to work on UI
        and graphic design. I feel like it's important to at least familiarize myself with all aspects of software
        development to gain a well rounded understanding of what goes into it.
      </p>
    </div>
    <div class="about-item">
      <h2 class="header -right">Skills</h2>
      <ul class="list">
        <li data-label="Languages:">Java, C#, C, Ruby, Assembly</li>
        <li data-label="Frontend:">HTML, CSS, Sass, JavaScript, jQuery</li>
        <li data-label="Backend:">.NET and Ruby on Rails</li>
        <li data-label="Misc:">Git, JUnit, Linux</li>
        <li data-label="Design:">Affinity Photo and Affinity Designer</li>
      </ul>
    </div>
    <div class="about-item">
      <h2 class="header">Personal</h2>
      <p class="info">
        I was born and raised in Pittsburgh to Ukrainian parents. We speak Russian at home and eat borscht.
        I'm really into wrestling 🤼, Brazilian jiu-jitsu 🥋, motorcycles 🏍️, and foreign languages 🗺️. If I'm not
        busy
        coding, you can usually find me training on the mats, riding around town, or studying Russian.
      </p>
    </div>
  </div>
</main>

<footer class="site-footer">
  <div class="footer-item">
    <a class="link" href="https://github.com/Josh961" target="_blank">
      <img class="image" src="assets/images/github.svg" alt="GitHub">GitHub
    </a>
  </div>
  <div class="footer-item">
    <a class="link" href="https://linkedin.com/in/joshua-zinkovsky" target="_blank">
      <img class="image" src="assets/images/linkedin.svg" alt="LinkedIn">LinkedIn
    </a>
  </div>
  <span class="copyright">Copyright © joshz.me 2019</span>
  <a class="github" href="https://github.com/Josh961/Portfolio" target="_blank">Code on GitHub</a>
</footer>

<script src="assets/scripts/main.js"></script>