@import 'abstracts/mixins';
@import 'abstracts/variables';

.about-item {
  color: $grey-800;
  margin-bottom: $md-4;

  &:last-child {
    margin-bottom: 0;;
  }

  &__header {
    font-size: $text-3xl;

    @include for-tablet-portrait-up() {
      font-size: $text-4xl;
    }
  }

  &__info {
    color: $grey-700;
    font-size: $text-base;
    line-height: 1.5;

    @include for-tablet-portrait-up() {
      font-size: $text-xl;
    }
  }
}