<app-navigation></app-navigation>

<div class="container">
  <!-- ch@ -->
  <div class="project-item">
    <h2 class="header">
      <a href="https://mighty-coast-82167.herokuapp.com/" target="_blank">ch@</a>
    </h2>
    <a href="https://mighty-coast-82167.herokuapp.com/" target="_blank">
      <img class="image" src="assets/images/chat.png" alt="ch@">
    </a>
    <div class="info">
      <p>
        <a class="link -large" href="https://mighty-coast-82167.herokuapp.com/" target="_blank">ch@</a>
        is a chat room application built with Ruby on Rails. Our group used Agile, UML Diagrams,
        SRS documents, and other best practices within the duration of the project. It was a great way
        to mock how things are done in the industry. We became more efficient with the software development
        life cycle, along with gaining a familiarity with rails and MVC. Code can be found on
        <a class="link" href="https://github.com/Josh961/chat" target="_blank">GitHub.</a>
      </p>
    </div>
  </div>
  <div class="separator">
    <hr class="line -blue">
    <hr class="line -pink">
    <hr class="line -green">
  </div>
  <!-- Code Bee Bop -->
  <div class="project-item" data-aos="fade-up" data-aos-once="true">
    <h2 class="header">
      <a href="https://josh961.github.io/CodeBeeBop/" target="_blank">Code Bee Bop</a>
    </h2>
    <a href="https://josh961.github.io/CodeBeeBop/" target="_blank">
      <img class="image" src="assets/images/codebeebop.png" alt="Code Bee Bop">
    </a>
    <div class="info">
      <p>
        I wanted to make a "quick start" guide for getting someone set up with a good looking webpage
        from scratch. <a class="link -large" href="https://josh961.github.io/CodeBeeBop/" target="_blank">Code Bee
          Bop</a> quickly gives links to tools, provides code to follow, and is easy to read.
        Each lesson is short and conveys only what's needed, choosing simplicity over complexity. Code can be found on
        <a class="link" href="https://github.com/Josh961/CodeBeeBop" target="_blank">GitHub.</a>
      </p>
    </div>
  </div>
  <div class="separator -flipped">
    <hr class="line -blue">
    <hr class="line -pink">
    <hr class="line -green">
  </div>
  <!-- Old Portfolio Website -->
  <div class="project-item" data-aos="fade-up" data-aos-once="true">
    <h2 class="header">
      <a href="http://joshz.me/" target="_blank">Old Portfolio Website</a>
    </h2>
    <a href="http://joshz.me/" target="_blank">
      <img class="image" src="assets/images/portfolio-old.png" alt="Old Portfolio Website">
    </a>
    <div class="info">
      <p>
        My old <a class="link -large" href="http://joshz.me/" target="_blank">portfolio website</a>
        was one of the first projects I did to learn HTML, CSS, and Bootstrap. There was some tinkering
        with graphic design for the main header image and a little bit of JavaScript to add a little
        interactivity to the site. It can be thought of as version 1.0 in an archive of portfolio websites.
      </p>
    </div>
  </div>
  <div class="separator">
    <hr class="line -blue">
    <hr class="line -pink">
    <hr class="line -green">
  </div>
  <!-- Programmer Ipsum -->
  <div class="project-item" data-aos="fade-up" data-aos-once="true">
    <h2 class="header">
      <a href="https://josh961.github.io/Programmer-Ipsum/" target="_blank">Programmer Ipsum</a>
    </h2>
    <a href="https://josh961.github.io/Programmer-Ipsum/" target="_blank">
      <img class="image" src="assets/images/programmer-ipsum.png" alt="Programmer Ipsum">
    </a>
    <div class="info">
      <p>
        A fun little tool to generate "lorem ipsum" text specifically for programmers.
        <a class="link -large" href="https://josh961.github.io/Programmer-Ipsum/" target="_blank">Programmer Ipsum</a>
        was the first project I made to get started in web development.
        Vanilla HTML, CSS, and JavaScript was used to learn core concepts, along with helping to keep the site
        fast and simple.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>

<script src="assets/https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="assets/scripts/main.js"></script>