<app-navigation></app-navigation>
<div class="container">
  <div class="project-item">
    <a href="https://josh961.github.io/Old-Portfolio/" target="_blank" class="project-item__link project-item__link--large">
      <h2 class="no-header-styling">Old Portfolio Website</h2>
    </a>
    <a href="https://josh961.github.io/Old-Portfolio/" target="_blank" class="project-item__image">
      <img src="assets/images/portfolio-old.png" alt="Old Portfolio Website" class="responsive-img">
    </a>
    <p class="project-item__info">
      My old <a class="project-item__link" href="https://josh961.github.io/Old-Portfolio/" target="_blank">portfolio website</a>
      was one of the first projects I did to learn HTML, CSS, and Bootstrap. There was some tinkering
      with graphic design for the main header image and a little bit of JavaScript to add a little
      interactivity to the site. It can be thought of as version 1.0 in an archive of portfolio websites.
    </p>
  </div>
  <div class="separator">
    <div class="separator__line separator__line--blue"></div>
    <div class="separator__line separator__line--pink"></div>
    <div class="separator__line separator__line--green"></div>
  </div>
  <div class="project-item" data-aos="fade-up" data-aos-once="true">
    <a href="https://josh961.github.io/Programmer-Ipsum/" target="_blank" class="project-item__link project-item__link--large">
      <h2 class="no-header-styling">Programmer Ipsum</h2>
    </a>
    <a href="https://josh961.github.io/Programmer-Ipsum/" target="_blank" class="project-item__image">
      <img src="assets/images/programmer-ipsum.png" alt="Programmer Ipsum" class="responsive-img">
    </a>
    <p class="project-item__info no-btm-margin">
      A fun little tool to generate "lorem ipsum" text specifically for programmers.
      <a class="project-item__link" href="https://josh961.github.io/Programmer-Ipsum/" target="_blank">Programmer Ipsum</a>
      was the first project I made to get started in web development.
      Vanilla HTML, CSS, and JavaScript was used to learn core concepts, along with helping to keep the site
      fast and simple.
    </p>
  </div>
</div>
<app-footer></app-footer>