@import "abstracts/mixins";
@import "abstracts/variables";

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    transition: opacity 300ms ease;
    border: 2px solid var(--subtle);
    border-radius: 6px;
    outline: none;

    &:hover, &:focus {
      opacity: 0.7;
    }
  }

  &__info {
    color: var(--text);
    font-size: $text-base;
    line-height: 1.5;

    @include for-tablet-portrait-up() {
      width: 90%;
      font-size: $text-xl;
    }
  }

  &__link {
    position: relative;
    padding: 0 $sm-1;
    color: var(--header);
    font-size: $text-lg;
    outline: none;

    @include for-tablet-portrait-up() {
      font-size: $text-2xl;
    }

    &::after {
      content: ('');
      position: absolute;
      height: 25%;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: var(--blue-accent);
    }

    &:hover, &:focus {
      background: var(--blue-accent);
    }

    &--large {
      margin-bottom: $md-1;
      font-size: $text-3xl;
      font-weight: bold;

      @include for-tablet-portrait-up() {
        font-size: $text-4xl;
      }
    }
  }
}

.separator {
  margin: $lg-1 0;
  transform: rotate(10deg);

  @include for-tablet-portrait-up() {
    margin: $lg-3 0;
  }

  &--flipped {
    transform: rotate(-10deg);
  }

  &__line {
    height: $sm-2;
    margin: $sm-1 0;

    &--blue {
      background: $blue-200;
    }

    &--pink {
      background: $pink-200;
    }

    &--green {
      background: $green-200;
    }
  }
}