<app-navigation></app-navigation>

<main class="-grid-margin">
  <div class="grid-container">
    <div class="grid-item-left">
      <div class="contact-item">
        <img class="image" src="assets/images/pin.svg" alt="Location Pin">
        <div class="info">
          <h3 class="header">Address</h3>
          <span>Pittsburgh, PA</span>
        </div>
      </div>
      <div class="contact-item">
        <img class="image" src="assets/images/mail.svg" alt="Email">
        <div class="info">
          <h3 class="header">Email</h3>
          <span>joshua.zky@gmail.com</span>
        </div>
      </div>
    </div>
    <div class="grid-item-right">
      <form class="contact-form" action="https://formspree.io/joshua.zky@gmail.com" method="POST">
        <input class="field" type="text" name="name" placeholder="Name" required>
        <input class="field" type="email" name="_replyto" placeholder="Email" required>
        <textarea class="field text" type="textarea" name="message" placeholder="Message..." required></textarea>
        <input class="submit" type="submit" value="Send">
      </form>
    </div>
  </div>
</main>

<app-footer></app-footer>
<script src="assets/scripts/main.js"></script>