<footer class="footer">
  <div>
    <div class="footer__item">
      <a class="footer__link" href="https://github.com/Josh961" target="_blank">
        <img class="footer__image" src="assets/images/github.svg" alt="GitHub">GitHub
      </a>
    </div>
    <div class="footer__item">
      <a class="footer__link" href="https://linkedin.com/in/joshua-zinkovsky" target="_blank">
        <img class="footer__image" src="assets/images/linkedin.svg" alt="LinkedIn">LinkedIn
      </a>
    </div>
  </div>
  <span class="footer__copyright">Copyright © joshz.me {{currentYear}}</span>
  <a class="github" href="https://josh961.github.io/Old-Portfolio/" target="_blank">Code on GitHub</a>
</footer>