<app-navigation></app-navigation>

<main>
</main>

<footer class="site-footer">
  <div class="footer-item">
    <a class="link" href="https://github.com/Josh961" target="_blank">
      <img class="image" src="assets/images/github.svg" alt="GitHub">GitHub
    </a>
  </div>
  <div class="footer-item">
    <a class="link" href="https://linkedin.com/in/joshua-zinkovsky" target="_blank">
      <img class="image" src="assets/images/linkedin.svg" alt="LinkedIn">LinkedIn
    </a>
  </div>
  <span class="copyright">Copyright © joshz.me 2019</span>
  <a class="github" href="https://github.com/Josh961/Portfolio" target="_blank">Code on GitHub</a>
</footer>

<script src="assets/scripts/main.js"></script>