@import 'abstracts/mixins';
@import 'abstracts/variables';

.card {
  position: relative;
  min-height: $lg-1;
  background: var(--bg-nav);
  border: 2px solid var(--subtle);
  border-radius: 12px;

  &__header {
    display: block;
    padding: $md-1 $md-2;
    color: var(--card-header);
    font-size: $text-2xl;
  }

  &__separator {
    width: 100%;
    border-bottom: 2px solid var(--subtle);
  }

  &__body {
    padding: $md-1;

    @include for-tablet-portrait-up() {
      padding: $md-4;
    }
  }
}