html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

a {
  text-decoration: none;
}

/**
 * If the page is too short to put the footer on the bottom,
 * make the minimum height for 'main' the entire view height - 
 * (navigation height + footer height).
 * In this case: 100vh - (105px + 150px).
 *
 * 1. Grid contianer adds an extra 200px.
 */
main {
  min-height: calc(100vh - 255px);

  // 1
  &.-grid-margin {
    min-height: calc(100vh - 455px);
  }
}

p, li {
  color: #666;
  font-size: 18px;
  line-height: 1.6;
  word-spacing: .1em;
}

img {
  user-select: none;
}

/* ========================================================
   Containers and Grids
   ======================================================== */

.container {
  max-width: 900px;
  padding: 0 10px;
  margin: 100px auto 200px auto;

  @include for-phone-only {
    margin: 100px auto 150px auto;
  }
}

.grid-container {
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "left left"
    "right right";

  max-width: 900px;
  padding: 0 10px;
  margin: 100px auto 150px auto;

  @include for-tablet-landscape-up() {
    grid-template-areas:
      "left right";

    width: 100%;
    margin: 200px auto 200px auto;
  }
}

.grid-item-left {
  grid-area: left;
}

.grid-item-right {
  grid-area: right;
}

  