.no-top-margin {
  margin-top: 0;
}

.no-btm-margin {
  margin-bottom: 0;
}

.no-header-styling {
  display: inherit;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

.responsive-img {
  height: 100%;
  width: 100%;
}